@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-image: url('./images/bg-desktop.svg');
    background-size:cover;
    font-family:  'Poppins', sans-serif;
    color: white;
    background-color: hsl(257, 40%, 49%);
      
}

.logo{
    align-self: flex-start;
    margin-left: 3rem;

}
.logo>img{
    width: 50%;
    margin: 1.5rem;
    margin-bottom: 2rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
}

.image_container{
    width:60%;
    margin-right: 2rem;
}

.image_container>img{
    width:100%;    
}

.description{
    width:50%;
    padding:1rem;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.data{
    font-size: 0.9rem;
    padding-right: 1.2rem;
    margin-bottom: 1rem;
}

.btn{
    width: 37%;
    height: 3rem;
    color: hsl(257, 40%, 49%);
    border-radius: 2rem;
    border: none;
    font-size: medium;
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.social_links{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.8rem;
   
}


.social_links>img{
    width: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    
}

.social_links>img:hover{
    border-radius: 50%;
    border: 1px solid hsl(300, 69%, 71%);
    background-color: hsl(300, 69%, 71%);
}

@media screen and (max-width:1000px) {

    body{
        flex-direction: column;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .logo{
        align-self: center;
    }

    .card{
        margin-top: 2rem;
        margin-bottom: 3rem;
        flex-direction: column;
    }

    .image_container{
        width: 75%;
        margin-right: 0;
    }

    .description{
        margin-top: 1rem;
        width: 100%;
        align-self: center;
        text-align: center;
    }

    .social_links{
        justify-content: center;
    }
}